<!-- <h1>Pages#form</h1>
<p>Find me in app/views/pages/form.html.erb</p>

 -->

<h1> Go ahead, talk to your coach! </h1>
<div class="question">
<form class="form-control" action="/pages" method="get">
 <input type="text" name="user_input" placeholder="type here the question to your coach"><br>
  <input  formaction="coachanswer" type="submit" value="Submit" class="btn-treehouse">
</form>
</div>




<!-- <form action="/pages" method="get">
 <input type="text">
<input type="> (button) -->
<!-- </form>
 -->